@charset "UTF-8";
body {
    background-color: green;
}
.cabecalho {
    background-color: green!important;
    width: 100%;
    height: 50px;
    text-align: justify;
    padding: 10px;
    clear: both;
}
.barra-lateral {
    background-color: #8BBF61;
    height: 100%;
    width: 16%;
}
.alinhamento {
    clear: both;
    position: relative;
    left: 0;
}
.ul-dash {
    text-align: justify;
}
.li-dash {
    padding-top: 5px;
    font-size: 17px;
    margin-left: 4%;
}
.nav-link {
    color: azure;
}
.icone-menu {
    color: #B0B1B1;
}
.icone-menu:hover {
    color: #636464;
}
.img-footer {
    width: 40%;
}
.container-footer {
    background-color: rgba(240, 255, 255, 0.54);
    display: block;
}