@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
#check {
   display: none;
   z-index: 2;
}
#check:checked ~ .barra {
    transform: 
}
.icone {
    font-size: 30px;
}
.barra {
    position: fixed;
    background-color: #ccc;
    width: 300px;
    height: 100%;
    left: -300px;
}