/*

*/
@charset "UTF-8";
/*Inicio Conf Padroes*/
* {
    margin: 0%;
    padding: 0%;
}
.bg {
    background: url("../img/mobile_919x533px_assistenciaestudantil.jpg")no-repeat center center fixed;
    background-size: cover;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
/*Fim Conf Padroes*/
/*Inicio Animações*/
@keyframes queda {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(8deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(-8deg);
    }
    100% {
        transform: rotate(0);
    }
} 
@keyframes mudacor {
    0% {
        width: 0%;
        background-color: #0F4F5B;
    }
    100% {
        width: 100%;
        background-color: #0F4F5B;
    }
}
/*Fim Animacoes*/
.conteudo {
    height: 100vh;
}
/*Inicio Menu*/
.menu-lateral {
    overflow-x: hidden;
    position: fixed;
    margin-top: 50px;
    z-index: 1;
    transition: .7s;
    width: 0;
    height: 100vh;
    background-color: green;
    transition: all .7s ease-in;
}
div .scrollMenuLateral {
    padding-top: 10px;
} 
.close-menu {
    width: 100%;
    padding: 8px;
    margin: 2px;
    float: right;
    transition: all none;
    background: transparent;
    border: none;
    color: #777;
}
i .efeito {
    font-size: 15px;
    width: 10px;
    height: 10px;
    float: right;
}
.efeito:hover {
    transform: rotate(180deg);
    transition: .5s;
}
.cabecalho {
    width: 100%;
    height: 50px;
    background-color: rgba(114,193,146, 25%);
    position: fixed;
    display: block;
    z-index: 1;
}
nav.scrollNavbar {
    background-color: #0F4F5B!important;
    height: 60px;
    transition: all .5s ease-in;
}
nav.scrollNavbar img {
    height: 45px;
    width: 90px;
}
.logo-ssae {
    margin-left: 10px;
    margin-top: 5px;
    transition: .3s;
}
div .btn-nav {
    color: #fff;
    display: block;
    padding: 10px 15px;
    width: 100%;
    box-shadow: 0
}
div .btn-nav:hover {
    background-color: #fff;
    color: #777;
    box-shadow: 0 3px 6px green;
    text-decoration: none;
    border-left: 9px solid green;
}
.btn-nav { 
    transition: .5s;
}
.botao-menu {
    background-color: rgba(0, 0, 0, .20%);
    border: none;
    padding: 0;
}
.botao-menu:active {
    border: none;
}
.scrollMenuLateral {
    transition: all 0.3s ease-in; 
    background-color: #0F4F5B!important;
}
#content {
    transition: margin-left .7s;
    width: 100%;
}
    /* Inicio botao sair*/
    .close-menu:hover {
        background-color: #fff;
        color: #777;
        box-shadow: 0 2px 4px red;
        text-decoration: none;
        border-right: 9px solid red; 
        transition: all .5s ease-in;
    }
    .close-menu {
        color: #fff;
        display: inline-block;
        padding: 10px 15px;
        width: 100%;
        box-shadow: 0;
        transition: all .5s ease-in;
    }
    ul {
        float: right;
        width: 100%;
        list-style: none;
    }
    /* Fim botao sair*/
/*Fim Menu*/














/*Inicio footer*/
.link-footer {
    text-decoration: none;
    font-style: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 8px!important;
    margin-top: 10px;
    color: #777;
    transition: all .5s;
    text-align: initial;
}
.link-footer:link {
    text-decoration: none;
    font-style: none;
}
.link-footer:hover {
    font-style: none;
    text-decoration: none;
    color: #0F4F5B;
    transition: all .5s;
}
.titulo-footer {
    padding-top: 20px;
    font-size: 26px;
    color: #000;
}
.sociais-facebook {
    color: #475993;
}
.sociais-twitter {
    color: #55ACEF;
}
.sociais-youtube {
    color: #FF0000;
}
.sociais-instagram {
    color: #B437AF;
}
.sociais-facebook,
.sociais-instagram,
.sociais-youtube,
.sociais-twitter {
    font-size: 25px;
    padding: 7px;
    text-align: center;
}
.link-footer > .sociais-facebook:hover,
.sociais-instagram:hover,
.sociais-youtube:hover,
.sociais-twitter:hover {
    color: #0F4F5B;
    transition: all .5s;
    box-shadow: 0 3px 2px #fff;
    animation-name: queda;
    animation-duration: .3s;
}
.dados {
    text-align: center;
    background-color: #f5f5f5;
    color: #666;
    margin-top: 50;
    padding-top: 15px;
    padding-bottom: 15px;
}
.desenvolvido {
    overflow: hidden;
    text-align: center;
    margin-top: 40px;
}
footer {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 50px;
}
.img-footer {
    margin-left: 10px;
    width: 95%;
    margin-top: 40px;
    margin-bottom: 30px;
}
.icone-titulo {
    font-size: 15px;
}
/*Fim footer*/
@media only screen and (max-width: 768px) {
   .alinhamento {
       text-align: center;
   } 
   .menu-lateral {
       width: 100%;
   }
}
@media only screen and (max-width: 508px){

}