@charset "UTF-8";
* {
    margin: 0%;
    padding: 0%;
}
.bg {
    background: url("../img/mobile_919x533px_assistenciaestudantil.jpg")no-repeat center center fixed;
    background-size: cover;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.conteudo {
    height: 100%;
}
.menu-lateral {
    position: fixed;
    float: left;
    overflow: hidden;
    background-color: rgba(155, 201, 133, 0.781);
    height: 100%;
    width: 200px;
    margin-top: 50px;
}
/*Inicio Cabeçalho*/
.cabecalho {
    width: 100%;
    height: 50px;
    background-color: rgba(114,193,146, 25%);;
    position: fixed;
}
@keyframes logossae {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(8deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(8deg);
    }
    100% {
        transform: rotate(0);
    }
} 
.logo-ssae {
    margin-left: 10px;
    margin-top: 5px;
    transition: .3s;
}
.logo-ssae:hover {
    animation-name: logossae;
    animation-delay: .5s;
    animation-duration: .6s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    box-shadow: 1px 1px 3px #fff;
}
/*Inicio Cabeçalho*/
/*Inicio Ul e Li*/
/*
ul {
    list-style: none; 
    color: aliceblue;
}
ul li a {
    color: #000;
    text-decoration: none;
    transform: translate(-50%,-50%);
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: arial;
    background: #rgb(154,201,133);
    padding: 18px;
    display: block;
}    
ul li a:hover {
    color: #9CC985;
    background-color: #fff;
    text-decoration: none;
}
*/
.linha-vertical {
    height: 100%;
    border-left: 2px solid #777;
    margin-left: 200px;
    margin-top: 50px;
    position: fixed;
    
}
nav a {
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    width: 100%;
}
nav a:hover {
    background-color: #fff;
    color: #777;
    box-shadow: 0 2px 3px #777;
    text-decoration: none;
}
.btn-nav { 
    transition: .5s;
}
/*Fim Ul e Li*/
footer {
    background-color: rgba(100%,100%,100%,25%);
    margin-left: 200px; 
}
.img-footer {
    width: 50%;
}
/*Inicio Footer*/
