@charset "UTF-8";
* {
    margin: 0%;
    padding: 0%;
}
/*Inicio Animações*/
@keyframes logossae {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(8deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(-8deg);
    }
    100% {
        transform: rotate(0);
    }
} 
@keyframes mudacor {
    0% {
        width: 0%;
        background-color: #0F4F5B;
    }
    100% {
        width: 100%;
        background-color: #0F4F5B;
    }
}
.bg {
    background: url("../img/mobile_919x533px_assistenciaestudantil.jpg")no-repeat center center fixed;
    background-size: cover;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.conteudo {
    height: 100vh;
}
.menu-lateral {
    overflow-x: hidden;
    position: fixed;
    margin-top: 50px;
    z-index: 1;
    transition: .7s;
    width: 0;
    height: 100vh;
    background-color: #0F4F5B;
    transition: all .7s ease-in;
}
/*Inicio Cabeçalho*/
.cabecalho {
    width: 100%;
    height: 50px;
    background-color: rgba(114,193,146, 25%);
    position: fixed;
}
nav.scrollNavbar {
    background-color: #0F4F5B!important;
    height: 60px;
    transition: all .5s ease-in;
}
nav.scrollNavbar img {
    height: 45px;
    width: 90px;
}
.logo-ssae {
    margin-left: 10px;
    margin-top: 5px;
    transition: .3s;
}
.logo-ssae:hover {
    animation-name: logossae;
    animation-delay: .5s;
    animation-duration: .6s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    box-shadow: 1px 1px 3px #fff;
}
/*Inicio Cabeçalho*/
/*Inicio Ul e Li*/
/*
ul {
    list-style: none; 
    color: aliceblue;
}
ul li a {
    color: #000;
    text-decoration: none;
    transform: translate(-50%,-50%);
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: arial;
    background: #rgb(154,201,133);
    padding: 18px;
    display: block;
}    
ul li a:hover {
    color: #9CC985;
    background-color: #fff;
    text-decoration: none;
}
*/
.linha-vertical {
    height: 100%;
    border-left: 2px dashed #fff;
    margin-left: 200px;
    margin-top: 50px;
    position: fixed;
    
}
div .btn-nav {
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    width: 100%;
    box-shadow: 0
}
div .btn-nav:hover {
    background-color: #fff;
    color: #777;
    box-shadow: 0 2px 4px #777;
    text-decoration: none;
    border-left: 9px solid green;
}
.btn-nav { 
    transition: .5s;
}
#content {
    transition: margin-left .7s;
    width: 100%;
}
/*Fim Ul e Li*/
footer {
    background-color: #fff;
    margin-left: 200px; 
    padding-top: 10px;
    padding-bottom: 50px;
}
.img-footer {
    width: 50%;
}

